<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="Lewis Needham">
	<link rel="icon" href="../../favicon.ico">

	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="css/animations.css">


	<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
	<script src="js/parse-1.4.2.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/main.js"></script>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>

<!--
	User reg code: http://popdevelop.com/2013/11/parse-com-and-angularjs-for-easy-setup-of-user-authentication/ 
	-->

<body ng-app="subApp">

	<div class="jumbo-header text-center">
		<h3>SUBSCRIPTION MANAGER</br><small>FOR MOBILE & WEB</small></h3>
	</div>

	<!--	I.1 - SMALL VERSION OF HEADER
<div class="small-header text-center">
		<h3><shrink>SUBSCRIPTION MANAGER</shrink></br></h3>
	</div>
-->

	<div ng-hide="currentUser" class="container-fluid">


		<!--LOG IN PAGE----------------------------------------------------------------------------------------->
		<form ng-show="state == 'Log in'">

			<div class="label-bg text-center">
				<h4 class="form-signin-heading">LOG IN</h4>
			</div>

			<div class="form-signin">
				<label for="inputUsername" class="sr-only">Username</label>
				<input type="username" ng-model="user.username" id="inputUsername" class="form-control text-center" placeholder="Username" required autofocus>
				</br>
				<label for="inputPassword" class="sr-only">Password</label>
				<input type="password" ng-model="user.password" id="inputPassword" class="form-control text-center" placeholder="Password" required autofocus>
				</br>

				<button ng-click="logIn(user)" class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
				</br>
				</br>
				</br>
				<div class="text-center"><a href="#" ng-click='state="Sign up"'>Create account</a>
				</div>
			</div>

		</form>



		<!--SIGN UP PAGE---------------------------------------------------------------------------------------->
		<form ng-show="state == 'Sign up'">

			<div class="label-bg text-center">
				<h4 class="form-signin-heading">SIGN UP</h4>
			</div>

			<div class="form-signin">
				<label for="inputUsername" class="sr-only">Username</label>
				<input type="username" ng-model="user.username" id="inputUsername" class="form-control text-center" placeholder="Username" required autofocus>
				</br>
				<label for="inputPassword" class="sr-only">Password</label>
				<input type="password" ng-model="user.password" id="inputPassword" class="form-control text-center" placeholder="Password" required autofocus>
				</br>
				<label for="inputEmail" class="sr-only">Email address</label>
				<input type="email" ng-model="user.email" id="inputEmail" class="form-control text-center" placeholder="Email (optional)" required autofocus>
				</br>
				<button ng-click="signUp(user)" class="btn btn-lg btn-primary btn-block" type="submit">Confirm Registration</button>
				</br>
				</br>
				<div class="text-center">
					<p>Already registered? </p><a href="#" ng-click='state="Log in"'>Log in</a>
				</div>
			</div>
		</form>

	</div>
	<!-- /container -->

	<!--SPLASH PAGE----------------------------------------------------------------------------------------->
	<div ng-show="currentUser" class="container-fluid">
		<div class="label-bg text-center">
			<p class="inline">{{currentUser.get('username')}}</p>
			<a href="#" ng-click="logOut(user)">|| Log out</a>

		</div>


		<!--OVERVIEW PAGE-------------------------------------------------------------------------------------->
		<div class="main-container" class="slideRight">
			<div id="home" ng-show="state == 'Overview'">

				<div class="main-nav">
					<nav class="right">
						<a href="#" class="minimiseHeader" ng-click='state="Services"'>
							SERVICES &gt;
						</a>
					</nav>
				</div>

				</br>
				</br>
				<p class="navtext text-center">You currently have no stats to track</p>

			</div>

			<!--SERVICES PAGE------------------------------------------------------------------------------------>
			<div ng-show="state == 'Services'" onload="returnServices()" class="slideLeft">

				<div class="main-nav">
					<nav class="left">
						<a href="#" class="maximiseHeader" ng-click='state="Overview"'>
							&lt; OVERVIEW
						</a>
					</nav>
				</div>

				</br>

				<ul class="list-group text-center" id="service-table">
					<!-- returnServices function (main.js) populates with list items for current users services-->
				</ul>


				<ul class="nav nav-bottom-fixed">
					<li role="presentation" class="active">
						<a href="#" ng-click='state="AddSubForm"'><h4>Add subscription +</h4></a>
					</li>
				</ul>

			</div>

			<!--ADD SUBSCRIPTION PAGE---------------------------------------------------------------------------->
			<div ng-show="state == 'AddSubForm'" class="pullUp">

				<div class="main-nav">
					<nav class="left">
						<a href="#" ng-click='state="Services"'>
							&lt; SERVICES
						</a>
					</nav>
				</div>

				<div class="form-signin">

					<h4 class="text-center">Service</h4>
					</br>
					<label for="inputServiceName" class="sr-only">Service Name</label>
					<input type="text" ng-model="services.serviceName" id="inputServiceName" class="form-control text-center" placeholder="Service Name" required autofocus>
					</br>

					<div class="form-group">
						<label class="sr-only" for="inputCostMonthly">Cost (in GBP)</label>
						<div class="input-group">
							<div class="input-group-addon">£</div>
							<input type="number" class="form-control text-center" ng-model="services.costMonthly" id="inputCostMonthly" placeholder="Cost Monthly" required autofocus>
						</div>
					</div>
					</br>

					Renews every
					<label for="inputRenewalPeriodMonthly" class="sr-only">Renewal Period Monthly</label>
					<input type="number" ng-model="services.renewalPeriodMonthly" id="inputRenewalPeriodMonthly" class="form-control text-center inline" placeholder="1" required autofocus>month

					</br>
					</br>

					<h4 class="text-center">Next billing date</h4>
					</br>
					<label for="inputRenewalDate" class="sr-only">Next Billing Date</label>
					<input type="date" ng-model="services.renewalDate" id="inputRenewalDate" class="form-control text-center" placeholder="Next Billing Date" required autofocus>

				</div>
				</br>
				</br>

				<ul class="nav nav-bottom-fixed">
					<li role="presentation" class="active">
						<a href="#" ng-click="newSub(services)"><h4>Confirm</h4></a>
					</li>
				</ul>

			</div>
			<!--  -----------------------------------------------------------------------------------------    -->


		</div>
		<!-- /container -->
	</div>

</body>
<!--
	END User reg code
	-->

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</html>